<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatReference</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    
    

</head>
<body>
    
<!-- <header role="banner">
    <img id="logo" src="https://via.placeholder.com/350x150"

<nav id="navbar" class="navbar-primary">
    <div class="containerPrime">
        <div class="navbar-header">
            <ul class="navbar-here">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
            </ul>
            
        </div>
    </div>
    
</nav>
</header>    --> 

<p data-item="WhatReference">WhatReference</p>
<section>
    <div>Your Pop Culture Reference Database</div>
    <nav>
        <ul class="menuItems">
            <li id="nav"><a href='/' data-item="Home">Home</a></li>
            <li id="nav"><a href='/movies' data-item="Movies">Movies</a></li>
        </ul>
    </nav>
</section>