<%- include('./partials/header.ejs') %>

<h1>Movies</h1>

<ul>
    <% for (let i = 0; i < movies.length; i++) {
        %>
    
    <li>
        <a href="/movies/<%= movies[i].id %>">
            <%=movies[i].title%>
        </a>
    </li>
    <% } %>
    
</ul>





<%- include('./partials/footer.ejs') %>