<%- include('./partials/header.ejs') %>

<h1>Add a Reference for <%= movies.title %></h1>

<form method="POST" action="/movies/<%=movies.id%>">
    <fieldset>
        <label for="title">Reference Title:</label>
        <input id="title" type="text" name="title" placeholder="Movie Title">
    </fieldset>
    <fieldset>
        <label for="media">Media Type:</label>
        <input id="media" type="text" name="media" placeholder="Media Type">
        <label for="timestampM">Timestamp (Minutes):</label>
        <input id="timestampM" type="number" name="timestampM" placeholder="Minute marker">
        <label for="timestampS">Timestamp (Seconds):</label>
        <input id="timestampS" type="number" name="timestampS" placeholder="Seconds marker">
    </fieldset>
    <fieldset>
        <label for="description">Description:</label>
        <input id="description" type="text" name="description" placeholder="Description...">
    </fieldset>
    <fieldset>
        <label for="relevance">Relevance:</label>
        <input id="relevance" type="text" name="relevance" placeholder="Cultural Relevance...">
    </fieldset>
    <button>Submit</button>
</form>



<%- include('./partials/footer.ejs') %>