#headerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.menuItems {
    border-radius: 25px;
    position: relative;
    text-align: center;
    height: fit-content;
    display: inline-flex;
    background-color: rgba(0, 0, 0, .4);
    -webkit-backdrop-filter: blur(10px);
    align-items: center;
    padding: 0 10px;
    margin: 10px 0 0 0;
    margin-left: 25%;
   
}

#nav {
    list-style: none;
    position: relative;
    color: white;
    font-weight: bold;
    padding: 12px 16px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    justify-content: center;
	}

h1 {
    display: block;
    font-style: normal;
    font-weight: normal;
    border-bottom: 1px solid #a2a9b1;
    border-top: 1px solid #a2a9b1;
    padding-left: 20px;
    text-align: center;
    background-color: rgb(233, 233, 233)
}


.movieInfo {
    border: 1px solid black;
    border-spacing: 3px;
    background-color: #f8f9fa;
    color: black;
    margin: 0.5em 0 0.5em 1em;
    padding: 0.2em;
    float: right;
    clear: right;
    font-size: 88%;
    line-height: 1.5em;
    width: 22em;
    margin-right: 10px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.moviebox-above {
    background: #CCCCFF;
    padding: 0.25em 1em;
    font-size: 125%;
    text-align: center;
}

i {
    font-style: italic;
    text-align: center;
    font-size: 125%;
}

.moviebox-image {
    aspect-ratio: auto;
}

/* #refList {
    display: inline-flex;
    list-style: none;
    width: 100%;
    border: 1px solid #000;
    background-color: #e0e0f9;
} */

#refList {
    position: absolute;
    float: right;
    list-style: none;
    display: inline-flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #e0e0f9;
    background-clip: border-box;
    border: 3px solid rgba(0,0,0,0.125);
    border-radius: 0.25rem;
    margin-left:20%;
    padding-right: 20px;
    margin-bottom: 1em;
}

#category {
    font-weight: bold;
}

.boxImg {
    
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.refTitle {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
   
}

#descriptionTitle, #plotID {
    padding-left: 20px;
}

#descriptionOverview, #plotOverview {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-left: 20px;
    padding-right: 15%;
    margin-right: 150px;
    text-align: justify;
}

#small {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(199, 228, 244);
    color: white;
    text-align: center;
}